@namespace EXCSLA.UI.Blazor.Controls

<BSButton Id="@Id" Color="@ButtonColor" ButtonType="ButtonType.Button" Size="Size.ExtraSmall" Class="@Class" IsDisabled="@IsDisabled" OnClick="@HandleOnClick">
    <span class="@IconCss"></span>
</BSButton>
<BSTooltip Target="@Id" Placement="@TooltipPlacement">@Tooltip</BSTooltip>